.featuredCardWrapper{
    padding: 5px;
    position: relative;
    width: 100%;
    height: 100%
}

.eventImg{
    position: relative;
    width: 86px;
    height: 58px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}